canvas {
    position:relative;
    left:50%;

    transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
}

#main {
    display:block;
    width:100%;
    
    margin-bottom:3%;
}

#main img,
#main h1,
#main p {
    width:80%;
    margin:0% 10%;
    padding:0%;
}

#main img {
    margin-bottom:2%;
}

#main h1,
#main p {
    text-align:center;
    font-family:Helvetica;
}

#main h1 {
    color:#6094c5;
}

#main p {
    margin-top:2%;
    margin-bottom:2%;

    color:#555555;
    font-size:18px;
}

#main a {
    display:inline-block;

    position:relative;
    left:50%;

    transform:translateX(-50%);
    -webkit-transform:translateX(-50%);

    margin:0.5% 0%;
    padding:0.5% 1%;

    color:#669ab9;
    border:2px solid #669ab9;
    border-radius:10px;

    text-decoration:none;
    font-family:Helvetica;
    font-size:20px;
}

#main a:hover {
    color:#336786;
    background-color:#ace0ff;
}
